########################
# Node / React
########################
node_modules/
dist/
build/
coverage/

########################
# Environment variables
########################
.env
.env.*
!.env.example

########################
# Docker
########################
docker-data/
*.log

########################
# Prisma
########################
prisma/dev.db

########################
# Vercel
########################
.vercel/

########################
# OS / Editor
########################
.DS_Store
Thumbs.db
.vscode/
.idea/
